/* src/components/Header.css */
header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    height: 60px;
    width: 120px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .nav-icon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      align-items: center;
      display: none; /* Hide menu by default */
      width: 100%;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-link {
      margin: 10px 0;
    }
  }
  
  .menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 24px;
      /* width: 100%; */
    }
  }
  